In [1]:
import pandas as pd

# Get data from Perseus; Extract Thuc Grk and Translations

In [2]:
file = "/home/craig.car/repos/chiron/align_texts_project/data/david_perseus_datadump_cts-sections.jsonl.gz"

df = pd.read_json(
        file,
        lines=True,
        compression='gzip')

In [3]:
df.head()

,book,id,loc,seq,text,cites,group,lang,title,translation,wlang,work
0,urn:cts:greekLit:tlg0003.tlg001.perseus-grc2,urn:cts:greekLit:tlg0003.tlg001.perseus-grc2:1...,urn:cts:greekLit:tlg0003.tlg001:1.1.1,0,Θουκυδίδης Ἀθηναῖος ξυνέγραψε τὸν πόλεμον τῶν\...,"[book, chapter, section]",Thucydides,grc,History of the Peloponnesian War,False,grc,urn:cts:greekLit:tlg0003.tlg001
1,urn:cts:greekLit:tlg0003.tlg001.perseus-grc2,urn:cts:greekLit:tlg0003.tlg001.perseus-grc2:1...,urn:cts:greekLit:tlg0003.tlg001:1.1.2,1,κίνησις γὰρ αὕτη μεγίστη δὴ τοῖς Ἕλλησιν ἐγένε...,"[book, chapter, section]",Thucydides,grc,History of the Peloponnesian War,False,grc,urn:cts:greekLit:tlg0003.tlg001
2,urn:cts:greekLit:tlg0003.tlg001.perseus-grc2,urn:cts:greekLit:tlg0003.tlg001.perseus-grc2:1...,urn:cts:greekLit:tlg0003.tlg001:1.1.3,2,τὰ γὰρ πρὸ αὐτῶν καὶ τὰ ἔτι παλαίτερα σαφῶς μὲ...,"[book, chapter, section]",Thucydides,grc,History of the Peloponnesian War,False,grc,urn:cts:greekLit:tlg0003.tlg001
3,urn:cts:greekLit:tlg0003.tlg001.perseus-grc2,urn:cts:greekLit:tlg0003.tlg001.perseus-grc2:1...,urn:cts:greekLit:tlg0003.tlg001:1.2.1,3,φαίνεται γὰρ ἡ νῦν Ἑλλὰς καλουμένη οὐ πάλαι βε...,"[book, chapter, section]",Thucydides,grc,History of the Peloponnesian War,False,grc,urn:cts:greekLit:tlg0003.tlg001
4,urn:cts:greekLit:tlg0003.tlg001.perseus-grc2,urn:cts:greekLit:tlg0003.tlg001.perseus-grc2:1...,urn:cts:greekLit:tlg0003.tlg001:1.2.2,4,"τῆς γὰρ ἐμπορίας οὐκ οὔσης, οὐδ’ ἐπιμειγνύντες...","[book, chapter, section]",Thucydides,grc,History of the Peloponnesian War,False,grc,urn:cts:greekLit:tlg0003.tlg001

In [4]:
df.groupby('group').count()

,book,id,loc,seq,text,cites,lang,title,translation,wlang,work
group,,,,,,,,,,,
Acta Philippi,293,293,293,293,293,293,293,293,293,293,293
Acta Thomae,341,341,341,341,341,341,341,341,341,341,341
Agathemerus,234,234,234,234,234,234,234,234,234,234,234
Anonymi Paradoxographi,46,46,46,46,46,46,46,46,46,46,46
Appianus of Alexandria,2334,2334,2334,2334,2334,2334,2334,2334,2334,2334,2334
Clemens Romanus (Clement of Rome),1036,1036,1036,1036,1036,1036,1036,1036,1036,1036,1036
Demosthenes,8930,8930,8930,8930,8930,8930,8930,8930,8930,8930,8930
"Hermas, 2nd cent.",1454,1454,1454,1454,1454,1454,1454,1454,1454,1454,1454
Herodotus,8676,8676,8676,8676,8676,8676,8676,8676,8676,8676,8676
Isocrates,4008,4008,4008,4008,4008,4008,4008,4008,4008,4008,4008
Plato,1340,1340,1340,1340,1340,1340,1340,1340,1340,1340,1340
Plutarch,27756,27756,27756,27756,27755,27756,27756,27756,27756,27756,27756
Thucydides,14314,14314,14314,14314,14314,14314,14314,14314,14314,14314,14314
Xenophon,12546,12546,12546,12546,12545,12546,12546,12546,12546,12546,12546

In [5]:
thuc_df = df.loc[df['group']=='Thucydides']

In [6]:
len(thuc_df)

14314

In [7]:
# id is unique per row
len(thuc_df['id'].unique())

14314

In [8]:
# 1 grk book and 3 eng translations
thuc_df['book'].unique()

array(['urn:cts:greekLit:tlg0003.tlg001.perseus-grc2',
       'urn:cts:greekLit:tlg0003.tlg001.perseus-eng4',
       'urn:cts:greekLit:tlg0003.tlg001.perseus-eng5',
       'urn:cts:greekLit:tlg0003.tlg001.perseus-eng6'], dtype=object)

In [9]:
# only eng translations in this data dump
thuc_df['lang'].unique()

array(['grc', 'eng'], dtype=object)

In [10]:
# loc is the chunk identifier
thuc_df.loc[thuc_df['loc']=='urn:cts:greekLit:tlg0003.tlg001:8.108.3']

,book,id,loc,seq,text,cites,group,lang,title,translation,wlang,work
3572,urn:cts:greekLit:tlg0003.tlg001.perseus-grc2,urn:cts:greekLit:tlg0003.tlg001.perseus-grc2:8...,urn:cts:greekLit:tlg0003.tlg001:8.108.3,3572,"καὶ ὁ Τισσαφέρνης ἀπὸ τῆς Ἀσπένδου, ὡς ἐπύθετο...","[book, chapter, section]",Thucydides,grc,History of the Peloponnesian War,False,grc,urn:cts:greekLit:tlg0003.tlg001
7151,urn:cts:greekLit:tlg0003.tlg001.perseus-eng4,urn:cts:greekLit:tlg0003.tlg001.perseus-eng4:8...,urn:cts:greekLit:tlg0003.tlg001:8.108.3,3574,"The Peloponnesians being now in Hellespont, th...","[book, chapter, section]",Thucydides,eng,History of the Peloponnesian War,True,grc,urn:cts:greekLit:tlg0003.tlg001
10730,urn:cts:greekLit:tlg0003.tlg001.perseus-eng5,urn:cts:greekLit:tlg0003.tlg001.perseus-eng5:8...,urn:cts:greekLit:tlg0003.tlg001:8.108.3,3574,Now after the arrival of the Peloponnesians at...,"[book, chapter, section]",Thucydides,eng,History of the Peloponnesian War,True,grc,urn:cts:greekLit:tlg0003.tlg001
14309,urn:cts:greekLit:tlg0003.tlg001.perseus-eng6,urn:cts:greekLit:tlg0003.tlg001.perseus-eng6:8...,urn:cts:greekLit:tlg0003.tlg001:8.108.3,3574,"Meanwhile Tissaphernes, upon hearing that the ...","[book, chapter, section]",Thucydides,eng,History of the Peloponnesian War,True,grc,urn:cts:greekLit:tlg0003.tlg001

In [43]:
# get grc and eng translations as separate df's
thuc_grc_df = thuc_df.loc[thuc_df['book']=='urn:cts:greekLit:tlg0003.tlg001.perseus-grc2']
# get eng translations
thuc_eng4_df = thuc_df.loc[thuc_df['book']=='urn:cts:greekLit:tlg0003.tlg001.perseus-eng4']
thuc_eng5_df = thuc_df.loc[thuc_df['book']=='urn:cts:greekLit:tlg0003.tlg001.perseus-eng5']
thuc_eng6_df = thuc_df.loc[thuc_df['book']=='urn:cts:greekLit:tlg0003.tlg001.perseus-eng6']

In [44]:
# no NAN in any of the 4 df's
thuc_eng6_df.isna().sum()

book           0
id             0
loc            0
seq            0
text           0
cites          0
group          0
lang           0
title          0
translation    0
wlang          0
work           0
dtype: int64

In [45]:
thuc_grc_df['text']

0       Θουκυδίδης Ἀθηναῖος ξυνέγραψε τὸν πόλεμον τῶν\...
1       κίνησις γὰρ αὕτη μεγίστη δὴ τοῖς Ἕλλησιν ἐγένε...
2       τὰ γὰρ πρὸ αὐτῶν καὶ τὰ ἔτι παλαίτερα σαφῶς μὲ...
3       φαίνεται γὰρ ἡ νῦν Ἑλλὰς καλουμένη οὐ πάλαι βε...
4       τῆς γὰρ ἐμπορίας οὐκ οὔσης, οὐδ’ ἐπιμειγνύντες...
                              ...
3572    καὶ ὁ Τισσαφέρνης ἀπὸ τῆς Ἀσπένδου, ὡς ἐπύθετο...
3573    ὄντων δὲ τῶν Πελοποννησίων ἐν τῷ Ἑλλησπόντῳ, Ἀ...
3574    φοβούμενοι οὖν αὐτὸν διὰ τοῦτο τὸ ἔργον μήποτε...
3575    ὁ δὲ Τισσαφέρνης αἰσθόμενος καὶ τοῦτο τῶν Πελο...
3576    [ὅταν ὁ μετὰ τοῦτο τὸ θέρος χειμὼν τελευτήσῃ, ...
Name: text, Length: 3577, dtype: object

In [46]:
type(thuc_grc_df['text'][3576])

str

In [47]:
# all rows of text col are str, in all 4 df's
not_string = 0
for chunk in thuc_eng6_df['text']:
    if not isinstance(chunk, str):
        not_string += 1
not_string

0

# Find data issue

In [48]:
print(f'len of grc: {len(thuc_grc_df)}')
print(f'len of eng4: {len(thuc_eng4_df)}')
print(f'len of eng5: {len(thuc_eng5_df)}')
print(f'len of eng6: {len(thuc_eng6_df)}')

len of grc: 3577
len of eng4: 3579
len of eng5: 3579
len of eng6: 3579

In [49]:
# reset index
thuc_eng4_df.reset_index(inplace=True)
thuc_eng5_df.reset_index(inplace=True)
thuc_eng6_df.reset_index(inplace=True)

In [50]:
thuc_grc_df.loc[3000]

book                urn:cts:greekLit:tlg0003.tlg001.perseus-grc2
id             urn:cts:greekLit:tlg0003.tlg001.perseus-grc2:7...
loc                       urn:cts:greekLit:tlg0003.tlg001:7.45.2
seq                                                         3000
text           ἀπέθανον δὲ οὐκ ὀλίγοι αὐτῶν τε καὶ τῶν ξυμμάχ...
cites                                   [book, chapter, section]
group                                                 Thucydides
lang                                                         grc
title                           History of the Peloponnesian War
translation                                                False
wlang                                                        grc
work                             urn:cts:greekLit:tlg0003.tlg001
Name: 3000, dtype: object

In [51]:
thuc_eng5_df.loc[3000]

index                                                      10156
book                urn:cts:greekLit:tlg0003.tlg001.perseus-eng5
id             urn:cts:greekLit:tlg0003.tlg001.perseus-eng5:7...
loc                       urn:cts:greekLit:tlg0003.tlg001:7.44.8
seq                                                         3000
text           The greater number of those who were pursued a...
cites                                   [book, chapter, section]
group                                                 Thucydides
lang                                                         eng
title                           History of the Peloponnesian War
translation                                                 True
wlang                                                        grc
work                             urn:cts:greekLit:tlg0003.tlg001
Name: 3000, dtype: object

In [52]:
print(thuc_grc_df['text'][3576])

[ὅταν ὁ μετὰ τοῦτο τὸ θέρος χειμὼν τελευτήσῃ, ἓν καὶ εἰκοστὸν ἔτος πληροῦται.]

In [53]:
print(thuc_eng4_df['text'][3578])

When the winter following this summer shall be ended, the
one-and-twentieth year [of this war] shall be complete.

In [54]:
print(thuc_eng5_df['text'][3578])

[With the end of the winter which follows this summer the
twenty-first year of the Peloponnesian War is completed.]

In [55]:
print(thuc_eng6_df['text'][3578])

[When the winter after this summer
is over the twenty-first year of this war will be completed.]

In [56]:
# Checked: only unique loc identifiers for all 4 books
len(thuc_eng5_df['loc'].unique())

3579

In [57]:
grc_loc = thuc_grc_df['loc']

In [58]:
len(grc_loc)

3577

In [59]:
eng4_loc = thuc_eng4_df['loc']

In [60]:
len(eng4_loc)

3579

In [61]:
not_same = []
for idx in range(len(grc_loc)):
    if grc_loc[idx] != eng4_loc[idx]:
        not_same.append(idx)

In [62]:
len(not_same)

2539

In [63]:
min(not_same)

1038

In [64]:
# mismatch begins at item 1038
test = [num for num in range(1038, 1038+2539)]
check = 0
for idx in range(len(not_same)):
    if not_same[idx] != test[idx]:
        check += 1
check

0

In [65]:
thuc_grc_df.loc[1037]

book                urn:cts:greekLit:tlg0003.tlg001.perseus-grc2
id             urn:cts:greekLit:tlg0003.tlg001.perseus-grc2:2...
loc                      urn:cts:greekLit:tlg0003.tlg001:2.103.1
seq                                                         1037
text           οἱ δὲ Ἀθηναῖοι καὶ ὁ Φορμίων ἄραντες ἐκ τῆς Ἀκ...
cites                                   [book, chapter, section]
group                                                 Thucydides
lang                                                         grc
title                           History of the Peloponnesian War
translation                                                False
wlang                                                        grc
work                             urn:cts:greekLit:tlg0003.tlg001
Name: 1037, dtype: object

In [66]:
thuc_grc_df.loc[1038]

book                urn:cts:greekLit:tlg0003.tlg001.perseus-grc2
id             urn:cts:greekLit:tlg0003.tlg001.perseus-grc2:3...
loc                        urn:cts:greekLit:tlg0003.tlg001:3.1.1
seq                                                         1038
text           τοῦ δ’ ἐπιγιγνομένου θέρους Πελοποννήσιοι καὶ ...
cites                                   [book, chapter, section]
group                                                 Thucydides
lang                                                         grc
title                           History of the Peloponnesian War
translation                                                False
wlang                                                        grc
work                             urn:cts:greekLit:tlg0003.tlg001
Name: 1038, dtype: object

In [67]:
thuc_eng4_df.loc[1037]

index                                                       4614
book                urn:cts:greekLit:tlg0003.tlg001.perseus-eng4
id             urn:cts:greekLit:tlg0003.tlg001.perseus-eng4:2...
loc                      urn:cts:greekLit:tlg0003.tlg001:2.103.1
seq                                                         1037
text           But Phormio and the Athenians, leaving Acarnan...
cites                                   [book, chapter, section]
group                                                 Thucydides
lang                                                         eng
title                           History of the Peloponnesian War
translation                                                 True
wlang                                                        grc
work                             urn:cts:greekLit:tlg0003.tlg001
Name: 1037, dtype: object

In [68]:
thuc_eng4_df.loc[1038]

index                                                       4615
book                urn:cts:greekLit:tlg0003.tlg001.perseus-eng4
id             urn:cts:greekLit:tlg0003.tlg001.perseus-eng4:2...
loc                      urn:cts:greekLit:tlg0003.tlg001:2.103.2
seq                                                         1038
text           So ended that winter, and the third year of th...
cites                                   [book, chapter, section]
group                                                 Thucydides
lang                                                         eng
title                           History of the Peloponnesian War
translation                                                 True
wlang                                                        grc
work                             urn:cts:greekLit:tlg0003.tlg001
Name: 1038, dtype: object

In [69]:
thuc_grc_df.loc[1039]

book                urn:cts:greekLit:tlg0003.tlg001.perseus-grc2
id             urn:cts:greekLit:tlg0003.tlg001.perseus-grc2:3...
loc                        urn:cts:greekLit:tlg0003.tlg001:3.1.2
seq                                                         1039
text           καὶ ἐγκαθεζόμενοι ἐδῄουν τὴν γῆν: καὶ προσβολα...
cites                                   [book, chapter, section]
group                                                 Thucydides
lang                                                         grc
title                           History of the Peloponnesian War
translation                                                False
wlang                                                        grc
work                             urn:cts:greekLit:tlg0003.tlg001
Name: 1039, dtype: object

## Save dfs to file with data issue

In [70]:
# send df's to csv, with data issue
# thuc_grc_df.to_csv('/home/craig.car/spring2023/data/thuc_grc_df.csv', index=False)
# thuc_eng4_df.to_csv('/home/craig.car/spring2023/data/thuc_eng4_df.csv', index=False)
# thuc_eng5_df.to_csv('/home/craig.car/spring2023/data/thuc_eng5_df.csv', index=False)
# thuc_eng6_df.to_csv('/home/craig.car/spring2023/data/thuc_eng6_df.csv', index=False)

## Fix Data Issue 1

In [71]:
# drop 2.103.1 from grk and 2.103.1 and 2.103.2 from eng
# thuc_grc_df.drop(1037, axis=0, inplace=True)
thuc_grc_df = thuc_grc_df.drop(1037, axis=0)
thuc_grc_df.loc[1038]

book                urn:cts:greekLit:tlg0003.tlg001.perseus-grc2
id             urn:cts:greekLit:tlg0003.tlg001.perseus-grc2:3...
loc                        urn:cts:greekLit:tlg0003.tlg001:3.1.1
seq                                                         1038
text           τοῦ δ’ ἐπιγιγνομένου θέρους Πελοποννήσιοι καὶ ...
cites                                   [book, chapter, section]
group                                                 Thucydides
lang                                                         grc
title                           History of the Peloponnesian War
translation                                                False
wlang                                                        grc
work                             urn:cts:greekLit:tlg0003.tlg001
Name: 1038, dtype: object

In [72]:
thuc_eng6_df = thuc_eng6_df.drop([1037,1038], axis=0)
thuc_eng6_df.loc[1039]

index                                                      11774
book                urn:cts:greekLit:tlg0003.tlg001.perseus-eng6
id             urn:cts:greekLit:tlg0003.tlg001.perseus-eng6:3...
loc                        urn:cts:greekLit:tlg0003.tlg001:3.1.1
seq                                                         1039
text           The next summer, just as the corn was\ngetting...
cites                                   [book, chapter, section]
group                                                 Thucydides
lang                                                         eng
title                           History of the Peloponnesian War
translation                                                 True
wlang                                                        grc
work                             urn:cts:greekLit:tlg0003.tlg001
Name: 1039, dtype: object

In [73]:
len(thuc_grc_df)

3576

In [74]:
len(thuc_eng6_df)

3577

In [75]:
# reset index
thuc_grc_df.reset_index(drop=True, inplace=True)

In [76]:
thuc_grc_df.loc[1037]

book                urn:cts:greekLit:tlg0003.tlg001.perseus-grc2
id             urn:cts:greekLit:tlg0003.tlg001.perseus-grc2:3...
loc                        urn:cts:greekLit:tlg0003.tlg001:3.1.1
seq                                                         1038
text           τοῦ δ’ ἐπιγιγνομένου θέρους Πελοποννήσιοι καὶ ...
cites                                   [book, chapter, section]
group                                                 Thucydides
lang                                                         grc
title                           History of the Peloponnesian War
translation                                                False
wlang                                                        grc
work                             urn:cts:greekLit:tlg0003.tlg001
Name: 1037, dtype: object

In [77]:
thuc_eng6_df.reset_index(drop=True, inplace=True)

In [78]:
thuc_eng6_df.loc[1037]

index                                                      11774
book                urn:cts:greekLit:tlg0003.tlg001.perseus-eng6
id             urn:cts:greekLit:tlg0003.tlg001.perseus-eng6:3...
loc                        urn:cts:greekLit:tlg0003.tlg001:3.1.1
seq                                                         1039
text           The next summer, just as the corn was\ngetting...
cites                                   [book, chapter, section]
group                                                 Thucydides
lang                                                         eng
title                           History of the Peloponnesian War
translation                                                 True
wlang                                                        grc
work                             urn:cts:greekLit:tlg0003.tlg001
Name: 1037, dtype: object

In [79]:
# check for other data issue

grc_loc_ids = list(thuc_grc_df['loc'])
eng6_loc_ids = list(thuc_eng6_df['loc'])

not_same = []
for idx in range(len(grc_loc_ids)):
    if grc_loc_ids[idx] != eng6_loc_ids[idx]:
        not_same.append(idx)

In [80]:
# data issue starts at min
min(not_same)

2514

In [81]:
thuc_grc_df.loc[2513]

book                urn:cts:greekLit:tlg0003.tlg001.perseus-grc2
id             urn:cts:greekLit:tlg0003.tlg001.perseus-grc2:6...
loc                       urn:cts:greekLit:tlg0003.tlg001:6.23.3
seq                                                         2514
text           ὅπερ ἐγὼ φοβούμενος, καὶ εἰδὼς πολλὰ μὲν ἡμᾶς ...
cites                                   [book, chapter, section]
group                                                 Thucydides
lang                                                         grc
title                           History of the Peloponnesian War
translation                                                False
wlang                                                        grc
work                             urn:cts:greekLit:tlg0003.tlg001
Name: 2513, dtype: object

## Data issue 2

Grk 6.23.3 --> Eng 6.23.3, 6.23.4
Grk 6.24.1 --> Eng 6.24.1

- 2513 --> 6.23.3
- 2514 --> 6.24.1
- 2515 --> 6.24.2

Eng:
- 2513 --> 6.23.3
- 2514 --> 6.23.4
- 2515 --> 6.24.1
- 2516 --> 6.24.2

Therefore, remove 6.23.3 from Grk (2513) and 6.23.3, 6.23.4 from English (2513-2514)

In [83]:
thuc_grc_df = thuc_grc_df.drop(2513, axis=0)
thuc_eng6_df = thuc_eng6_df.drop([2513,2514], axis=0)

In [84]:
# reset index
thuc_grc_df.reset_index(drop=True, inplace=True)
thuc_eng6_df.reset_index(drop=True, inplace=True)

In [85]:
print(len(thuc_grc_df))
print(len(thuc_eng6_df))

3575
3575

In [87]:
# check for any remaining data issues

grc_loc_ids = list(thuc_grc_df['loc'])
eng6_loc_ids = list(thuc_eng6_df['loc'])

not_same = []
for idx in range(len(grc_loc_ids)):
    if grc_loc_ids[idx] != eng6_loc_ids[idx]:
        not_same.append(idx)
len(not_same)

0

In [89]:
# remove \n
thuc_grc_df['text'] = thuc_grc_df['text'].replace('\n',' ', regex=True)
thuc_eng6_df['text'] = thuc_eng6_df['text'].replace('\n',' ', regex=True)

# with open("/home/craig.car/repos/chiron/align_texts_project/data/thucydides/thuc_all_chunks_el.txt", 'w') as f:
#     for grk_chunk in list(thuc_grc_df['text']):
#         f.write(f"{grk_chunk}\n")

# with open("/home/craig.car/repos/chiron/align_texts_project/data/thucydides/thuc_all_chunks_crawley.txt", 'w') as f:
#     for eng6_chunk in list(thuc_eng6_df['text']):
#         f.write(f"{eng6_chunk}\n")