In [1]:
import pandas as pd

# Get perseus data df

In [2]:
path = "/home/craig.car/repos/chiron/align_texts_project/data/david_perseus_datadump_cts-sections.jsonl.gz"

In [3]:
perseus_df = pd.read_json(
        path,
        lines=True,
        compression='gzip')

In [4]:
perseus_df.head()

,book,id,loc,seq,text,cites,group,lang,title,translation,wlang,work
0,urn:cts:greekLit:tlg0003.tlg001.perseus-grc2,urn:cts:greekLit:tlg0003.tlg001.perseus-grc2:1...,urn:cts:greekLit:tlg0003.tlg001:1.1.1,0,Θουκυδίδης Ἀθηναῖος ξυνέγραψε τὸν πόλεμον τῶν\...,"[book, chapter, section]",Thucydides,grc,History of the Peloponnesian War,False,grc,urn:cts:greekLit:tlg0003.tlg001
1,urn:cts:greekLit:tlg0003.tlg001.perseus-grc2,urn:cts:greekLit:tlg0003.tlg001.perseus-grc2:1...,urn:cts:greekLit:tlg0003.tlg001:1.1.2,1,κίνησις γὰρ αὕτη μεγίστη δὴ τοῖς Ἕλλησιν ἐγένε...,"[book, chapter, section]",Thucydides,grc,History of the Peloponnesian War,False,grc,urn:cts:greekLit:tlg0003.tlg001
2,urn:cts:greekLit:tlg0003.tlg001.perseus-grc2,urn:cts:greekLit:tlg0003.tlg001.perseus-grc2:1...,urn:cts:greekLit:tlg0003.tlg001:1.1.3,2,τὰ γὰρ πρὸ αὐτῶν καὶ τὰ ἔτι παλαίτερα σαφῶς μὲ...,"[book, chapter, section]",Thucydides,grc,History of the Peloponnesian War,False,grc,urn:cts:greekLit:tlg0003.tlg001
3,urn:cts:greekLit:tlg0003.tlg001.perseus-grc2,urn:cts:greekLit:tlg0003.tlg001.perseus-grc2:1...,urn:cts:greekLit:tlg0003.tlg001:1.2.1,3,φαίνεται γὰρ ἡ νῦν Ἑλλὰς καλουμένη οὐ πάλαι βε...,"[book, chapter, section]",Thucydides,grc,History of the Peloponnesian War,False,grc,urn:cts:greekLit:tlg0003.tlg001
4,urn:cts:greekLit:tlg0003.tlg001.perseus-grc2,urn:cts:greekLit:tlg0003.tlg001.perseus-grc2:1...,urn:cts:greekLit:tlg0003.tlg001:1.2.2,4,"τῆς γὰρ ἐμπορίας οὐκ οὔσης, οὐδ’ ἐπιμειγνύντες...","[book, chapter, section]",Thucydides,grc,History of the Peloponnesian War,False,grc,urn:cts:greekLit:tlg0003.tlg001

In [5]:
perseus_df.groupby("work").count()

,book,id,loc,seq,text,cites,group,lang,title,translation,wlang
work,,,,,,,,,,,
urn:cts:greekLit:tlg0003.tlg001,14314,14314,14314,14314,14314,14314,14314,14314,14314,14314,14314
urn:cts:greekLit:tlg0007.tlg001,264,264,264,264,264,264,264,264,264,264,264
urn:cts:greekLit:tlg0007.tlg002,322,322,322,322,322,322,322,322,322,322,322
urn:cts:greekLit:tlg0007.tlg003,36,36,36,36,36,36,36,36,36,36,36
urn:cts:greekLit:tlg0007.tlg004,306,306,306,306,306,306,306,306,306,306,306
...,...,...,...,...,...,...,...,...,...,...,...
urn:cts:greekLit:tlg1271.tlg002,236,236,236,236,236,236,236,236,236,236,236
urn:cts:greekLit:tlg1419.tlg001,1454,1454,1454,1454,1454,1454,1454,1454,1454,1454,1454
urn:cts:greekLit:tlg2038.tlg001,341,341,341,341,341,341,341,341,341,341,341
urn:cts:greekLit:tlg2948.tlg001,293,293,293,293,293,293,293,293,293,293,293
urn:cts:greekLit:tlg4037.tlg001,46,46,46,46,46,46,46,46,46,46,46

In [6]:
perseus_df.groupby("group").count()

,book,id,loc,seq,text,cites,lang,title,translation,wlang,work
group,,,,,,,,,,,
Acta Philippi,293,293,293,293,293,293,293,293,293,293,293
Acta Thomae,341,341,341,341,341,341,341,341,341,341,341
Agathemerus,234,234,234,234,234,234,234,234,234,234,234
Anonymi Paradoxographi,46,46,46,46,46,46,46,46,46,46,46
Appianus of Alexandria,2334,2334,2334,2334,2334,2334,2334,2334,2334,2334,2334
Clemens Romanus (Clement of Rome),1036,1036,1036,1036,1036,1036,1036,1036,1036,1036,1036
Demosthenes,8930,8930,8930,8930,8930,8930,8930,8930,8930,8930,8930
"Hermas, 2nd cent.",1454,1454,1454,1454,1454,1454,1454,1454,1454,1454,1454
Herodotus,8676,8676,8676,8676,8676,8676,8676,8676,8676,8676,8676
Isocrates,4008,4008,4008,4008,4008,4008,4008,4008,4008,4008,4008
Plato,1340,1340,1340,1340,1340,1340,1340,1340,1340,1340,1340
Plutarch,27756,27756,27756,27756,27755,27756,27756,27756,27756,27756,27756
Thucydides,14314,14314,14314,14314,14314,14314,14314,14314,14314,14314,14314
Xenophon,12546,12546,12546,12546,12545,12546,12546,12546,12546,12546,12546

# Get Plato works

In [7]:
plato = perseus_df.loc[perseus_df["group"]=="Plato"]

In [8]:
plato.groupby("work").count()

,book,id,loc,seq,text,cites,group,lang,title,translation,wlang
work,,,,,,,,,,,
urn:cts:greekLit:tlg0059.tlg030,556,556,556,556,556,556,556,556,556,556,556
urn:cts:greekLit:tlg0059.tlg034,654,654,654,654,654,654,654,654,654,654,654
urn:cts:greekLit:tlg0059.tlg036,130,130,130,130,130,130,130,130,130,130,130

In [9]:
perseus_df.loc[perseus_df["work"]=="urn:cts:greekLit:tlg0059.tlg030"].head(1)

,book,id,loc,seq,text,cites,group,lang,title,translation,wlang,work
76230,urn:cts:greekLit:tlg0059.tlg030.perseus-grc2,urn:cts:greekLit:tlg0059.tlg030.perseus-grc2:1...,urn:cts:greekLit:tlg0059.tlg030:1.327,0,κατέβην χθὲς εἰς Πειραιᾶ μετὰ Γλαύκωνος τοῦ Ἀρ...,"[book, section]",Plato,grc,Republic,False,grc,urn:cts:greekLit:tlg0059.tlg030

In [10]:
perseus_df.loc[perseus_df["work"]=="urn:cts:greekLit:tlg0059.tlg034"].head(1)

,book,id,loc,seq,text,cites,group,lang,title,translation,wlang,work
76786,urn:cts:greekLit:tlg0059.tlg034.perseus-grc2,urn:cts:greekLit:tlg0059.tlg034.perseus-grc2:1...,urn:cts:greekLit:tlg0059.tlg034:1.624,0,"ΑΘ. θεὸς ἤ τις ἀνθρώπων ὑμῖν, ὦ ξένοι, εἴληφε ...","[book, section]",Plato,grc,Laws,False,grc,urn:cts:greekLit:tlg0059.tlg034

In [11]:
perseus_df.loc[perseus_df["work"]=="urn:cts:greekLit:tlg0059.tlg036"].head(1)

,book,id,loc,seq,text,cites,group,lang,title,translation,wlang,work
77440,urn:cts:greekLit:tlg0059.tlg036.perseus-grc2,urn:cts:greekLit:tlg0059.tlg036.perseus-grc2:1...,urn:cts:greekLit:tlg0059.tlg036:1.309,0,Πλάτων Διονυσίῳ εὖ πράττειν.διατρίψας ἐγὼ παρʼ...,"[letter, section]",Plato,grc,Letters,False,grc,urn:cts:greekLit:tlg0059.tlg036

# Get Laws

In [12]:
plato_laws = perseus_df.loc[perseus_df["work"]=="urn:cts:greekLit:tlg0059.tlg034"]

In [13]:
plato_laws.shape

(654, 12)

In [14]:
plato_laws.head()

,book,id,loc,seq,text,cites,group,lang,title,translation,wlang,work
76786,urn:cts:greekLit:tlg0059.tlg034.perseus-grc2,urn:cts:greekLit:tlg0059.tlg034.perseus-grc2:1...,urn:cts:greekLit:tlg0059.tlg034:1.624,0,"ΑΘ. θεὸς ἤ τις ἀνθρώπων ὑμῖν, ὦ ξένοι, εἴληφε ...","[book, section]",Plato,grc,Laws,False,grc,urn:cts:greekLit:tlg0059.tlg034
76787,urn:cts:greekLit:tlg0059.tlg034.perseus-grc2,urn:cts:greekLit:tlg0059.tlg034.perseus-grc2:1...,urn:cts:greekLit:tlg0059.tlg034:1.625,1,ΚΛ. λέγεται γὰρ οὕτω παρʼ ἡμῖν· καὶ δὴ καὶ τὸν...,"[book, section]",Plato,grc,Laws,False,grc,urn:cts:greekLit:tlg0059.tlg034
76788,urn:cts:greekLit:tlg0059.tlg034.perseus-grc2,urn:cts:greekLit:tlg0059.tlg034.perseus-grc2:1...,urn:cts:greekLit:tlg0059.tlg034:1.626,2,ΚΛ. εἰ δὴ πολέμου γε ὄντος φυλακῆς ἕνεκα δεῖ σ...,"[book, section]",Plato,grc,Laws,False,grc,urn:cts:greekLit:tlg0059.tlg034
76789,urn:cts:greekLit:tlg0059.tlg034.perseus-grc2,urn:cts:greekLit:tlg0059.tlg034.perseus-grc2:1...,urn:cts:greekLit:tlg0059.tlg034:1.627,3,ΑΘ. πάλιν τοίνυν τὸν λόγον ἀναστρέψωμεν. ἐπειδ...,"[book, section]",Plato,grc,Laws,False,grc,urn:cts:greekLit:tlg0059.tlg034
76790,urn:cts:greekLit:tlg0059.tlg034.perseus-grc2,urn:cts:greekLit:tlg0059.tlg034.perseus-grc2:1...,urn:cts:greekLit:tlg0059.tlg034:1.628,4,ΑΘ. τρίτον δέ που δικαστὴν πρὸς ἀρετὴν εἴπωμεν...,"[book, section]",Plato,grc,Laws,False,grc,urn:cts:greekLit:tlg0059.tlg034

In [15]:
laws_el = plato_laws.loc[plato_laws["lang"]=="grc"]

In [16]:
laws_el.shape

(327, 12)

In [32]:
laws_el_txt = laws_el["text"]

In [33]:
len(laws_el_txt)

327

In [35]:
def write_file(input_lst, name_out):
    filename = name_out
    with open(filename, 'w') as file:
        for sentence in input_lst:
            file.write(f"{sentence}\n")

In [36]:
path_out = "/home/craig.car/repos/chiron/chironata/code/source_texts/plato_5_1852"
write_file(laws_el_txt, path_out)

# Get text with chapter idx

In [18]:
def concatenate_txt(txt_series):
    '''
    Converts to str (in case of NaN present as float) and concatenates rows 
    into one continuous string
    '''
    # convert all rows to string
    txt_series = txt_series.apply(str)
    # join into a single string
    return ' '.join(txt_series)

def get_perseus_txt_by_book(df, cts_tag, num_books):
    '''
    Extract Perseus text in df by book
    '''
    txt_by_book = []
    idx2book_name = {}
    idx_counter = 0
    for book_idx in range(1, num_books+1):
        loc_tag = cts_tag + str(book_idx)
        book_text = concatenate_txt(df[df['loc'].str.startswith(loc_tag)]['text'].replace('\n',' ', regex=True))
        txt_by_book.append(book_text)
        # add to dict. chap name format: "booknum"
        book_name = str(book_idx)
        idx2book_name[idx_counter] = book_name
        idx_counter += 1
    return txt_by_book, idx2book_name

In [ ]:
grk_txt_by_chapter = []
grk_chap_idx_2_chap_name = {}
idx_counter = 0

for book_idx in range(1, 13):
    number_chapters = book_to_number_chaps[book_idx] + 1
    book_txt_by_chapter = []
    for chapter_num in range(1, number_chapters):
        loc_tag = "urn:cts:greekLit:tlg0003.tlg001:" + str(book_idx) + "." + str(chapter_num) + "."
        chapter_text = concatenate_txt(thuc_grc_df[thuc_grc_df['loc'].str.startswith(loc_tag)]['text'].replace('\n',' ', regex=True))
        book_txt_by_chapter.append(chapter_text)
        # add to dict. chap name format: "booknum,chapnum"
        chapter_name = str(book_idx) + "," + str(chapter_num)
        grk_chap_idx_2_chap_name[idx_counter] = chapter_name
        idx_counter += 1
    # add chapters to full text list
    grk_txt_by_chapter.extend(book_txt_by_chapter)

In [ ]:
cts_tag_ = "urn:cts:greekLit:tlg0059.tlg034:"
lucretius_by_book, lucretius_sent2book_name = get_perseus_txt_by_book(lucretius_lat, cts_tag_, 12)
len(lucretius_by_book)